.banner-img{
    height: 500px;
    object-fit: cover;
}
body{
    background-color: #f5f5f5;
}

/* EFEITO CARD */
.card{
    transition: 0.3s;
    border-radius: 15px;
    overflow: hidden;
}

/* HOVER */
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* IMAGEM */
.card img{
    height: 350px;
    object-fit: cover;
}

/* TITULO */
h2{
    font-weight: bold;
}